/*::-webkit-scrollbar {
    display: none;
}*/
*{margin: 0;padding: 0;}
p{font-family: "Times New Roman", Times, serif;}
.web
  {
    height:600px;
    width:1200px;
    border: 2px solid;
  }
.mainav
  {
    height: inherit;
    width: 100px;
    border: 2px solid red;
    box-sizing: border-box;
    float: left;
    background-color: #41C19D;
  }
header
  {
    border: 2px solid green;
    box-sizing: border-box;
    height:105px;
    width: 1100px;
    float: left;
    display: flex;
    flex-direction: row;
   }
main
  {
   padding-left: 462px;
    border: 2px solid blue;
    box-sizing: border-box;
    height:495px;
    float: left;
    width: 1100px;
    background-image: url('images/back.jpg');
  }
.mainav ul
  {
    height: inherit;
    list-style-type: none;
  }
.mainav ul li
  {
    border: 2px solid;
    height: 100px;
  }
.mainav ul li img
  {
    width: inherit;
    height: inherit;

  }
.mainav ul li svg
  {
   margin-left: 15px;
  }
.mainav ul li svg path
  {
   transition: fill 0.6s;
  }
.mainav ul li p
  {
   transition: color 0.3s;
  }
.slogan
  {
    background-color: #41C19D;
    height: inherit;
    width: 40%;
    border: 2px solid red;
    box-sizing: border-box;
  }
.slogan h1:nth-child(2)
  {
    margin-left: 25px;
  }
.ucpmain
  {
    background-color: #41C19D;
    height: inherit;
    width: 60%;
    border: 2px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
  }
.ucp
  {
    height: 20px;
    width: 150px;

  }
.ucp ul
  {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: inherit;
    width: inherit;

    justify-content: flex-end;
  }
.ucp ul li
  {
    display: flex;
    width: 30px;

    align-items: center;
  }
.ucp ul li svg
  {
    height: 16px;
    width: 30px;
    display: block;
  }
.ucp ul li svg path
  {
    stroke:black;
    stroke-linecap: round;
    stroke-width: 5;
    transition: stroke 0.5s , fill 1s;

  }
.mainav ul li:hover  p
  {
    color:white;
  }
.mainav ul li:hover path
  {
    fill:white;
  }
#PELPOp
  {
    margin-left: 10px;
  }
#relsvg
  {
    position: relative;
    top: 4px;
  }
.ucp ul li svg:hover > path
  {
    fill:white;
    stroke:white;
  }
.mainmid
  {
    position: relative;
    white-space: nowrap;
    height: inherit;
    width: 30%;
    border: 2px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
.mainmid img
  {
  height: 180px;
  width: 100%;
  }
.mainmid p
  {
    position: relative;
    left: -35px;
    font-size: 35px;
  }
.mainmid button
  {
    border-radius: 5px;
    background-color: #41C19D;
    border-style: solid;
    border-color:transparent;
    margin-top: 70px;
    height: 35px;
    transition: transform 0.1s;
    box-shadow: 0px 5px 0px 0px #647A8A;
  }
.mainmid button span
  {
    color: #3A5569;
    font-size:18px;
  }
.mainmid button::-moz-focus-inner
  {
    border: 0;
  }
.mainmid button:active
  {
    transform:translateY(5px);
    box-shadow: 0px 2px 0px 0px #647A8A;
  }
